

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    line-height: 30px;
    font-family: myFirstFont;
    background-image: url('bg-header-desktop.png');
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    color:hsl(210, 10%, 33%)
}

.container{
    max-width: 1440px;
    margin-inline: auto;
    height: 100vh;
}
.banner{
    margin: 4rem 0;
    width: 100%;

}

.banner-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: inherit;
    text-align: center;
    gap: 2rem;
    max-width: 600px;
    margin: auto
}

.site-logo{
    width: 80px;
    display: block;
    max-width: 100%;
    height: auto;
}

.banner-content h1{
    font-size: 2.5rem;
    margin-bottom: 1.2rem;
    
}

.banner-btn{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.banner-btn a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem 2rem;
    border-radius: 30px;
}

.banner-btn a:first-child{
    background-color:  hsl(171, 66%, 44%);
}

.banner-btn a:first-child:hover{
    background-color: hsl(171, 80%, 32%);
}
.banner-btn a:last-child{
    background-color:  hsl(233, 100%, 69%)
}

.banner-btn a:last-child:hover{
    background-color: hsl(233, 44%, 46%)
}

.snippets-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 700px;
    margin: auto;
}

.snippets-content h2{
    margin-bottom: 2rem;
}

.review{
    margin: 5rem 0;
    padding: 15px 0;
}

.review-col{
    display: flex;
    gap: 3rem;
    align-items: flex-start;
    padding: 15px 5%;
}


.review-img{
    width: 500px;
}

.review .right .right-item{
    margin: 2rem 0;
}


.clip-access{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.access{
    margin-bottom: 2rem;
}

.access h2{
    margin-bottom: 1rem;
}
.access-image{
    max-width: 100%;
    height: auto;
    width: 800px;
    margin: 2rem 0;
}

.features{
    margin: 2rem 0;
    padding: 1rem 2%;
}

.feature-header{
    text-align: center;
    margin-bottom: 3rem;
}

.feature-header h2{
    margin-bottom: 1.5rem;
}

.feature-overlay{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 0rem 5%;
    align-items: center;
}

.overlay-item{
    width: 30%;
}

.icon img{
    display: block;
    margin: 1.5rem auto;
    
}

.logo{
    padding: 2rem 5%;
    width: 100%;
}

.logo-col{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-item img{
    width: 130px;
    display: block;
    margin: 2rem;
}

.banner-clip{
    margin: 5rem 0
}

.site-footer{
    margin: 2rem 0;
    padding: 2rem 5%;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-footer{
    display: flex;
    align-items: center;
    gap:3rem
}

.left-footer img{
    width: 50px;
    cursor: pointer;
}

.left-footer ul {
    display: flex;
    gap: 2rem
}

.left-footer ul li {
    list-style: none;
    font-size: 14px
}

.left-footer ul li a{
    color: inherit;
    text-decoration: none;
}

.right-footer .icons{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icons{
    cursor: pointer;
}


@media screen and (max-width: 320px), (max-width: 520px){

    .banner-content{
        padding: 0 1.5rem
    }
    .banner-content h1{
        font-size: 1.8rem;
        margin-bottom: 1.2rem;
        
    }
    
    .banner-btn{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
    
    .snippets-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        max-width: 700px;
        margin: auto;
        padding: 0 1.5rem
    }
    
    .snippets-content h2{
        margin-bottom: 1.6rem;
    }

    .review{
        margin: 5rem 0;
        padding: 15px 0;
    }
    
    .review-col{
        display: flex;
        gap: 3rem;
        align-items: flex-start;
        padding: 15px 5%;
        flex-direction: column;
        text-align: center;
    }
    
    
    .review-img{
        width: 100%;
        max-width: 100%;
    }

    .access{
        margin-bottom: 2rem;
        padding: 0 1.5rem
    }
    
    .features{
        margin: 2rem 0;
        padding: 1rem 1.5rem
    }
    
    .feature-header{
        text-align: center;
        margin-bottom: 3rem;
    }
    
    .feature-header h2{
        margin-bottom: 1.5rem;
    }
    
    .feature-overlay{
        display: flex;
        text-align: center;
        justify-content: space-between;
        padding: 0rem 5%;
        align-items: center;
        flex-direction: column;
    }
    
    .overlay-item{
        width: 100%
    }

    .logo{
        padding: 2rem 1.5rem;
        width: 100%;
    }
    
    .logo-col{
       display: flex;
       overflow: scroll;
       cursor: grab;
    }
    
    .logo-item img{
        width: 130px;
        display: block;
        margin: 2rem;
    }
    
    .banner-clip{
        margin: 5rem 0
    }
    
    .site-footer{
        margin: 2rem 0;
        padding: 2rem 5%;
    }
    .footer-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 3rem
    }
    
    .left-footer{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap:3rem
    }
    
    .left-footer img{
        width: 50px;
        cursor: pointer;
    }
    
    .left-footer ul {
        display: flex;
        gap: 2rem;
        align-items: center;
        flex-direction: column;
    }
    
    .left-footer ul li {
        list-style: none;
        font-size: 14px
    }
    
    .left-footer ul li a{
        color: inherit;
        text-decoration: none;
    }
    
    .right-footer .icons{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    
    .icons{
        cursor: pointer;
    }
    
}